.main {
    padding: 10px;
    height: 100vh;
}

.layout {
    display: flex;
}

.sidebar {
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(148, 112, 112);
    box-shadow: 0 0 2px gray;
    margin-right: 15px;
    margin-bottom: 20px;
    color: white;
}

.content {
    width: 100%;
    height: 100%;
}

.header {
    height: 12.5vh;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    background-color: rgb(148, 112, 112);
}

.body {
    height: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.logo h6 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
}

.menu {
    margin: 30px 20px;
}

.menu-item {
    margin-top: 30px;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
}

.active {
    background-color: white;
    padding: 10px;
}

.active a,
.active i {
    color: rgb(58, 0, 0);
}

.header-content {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: flex-end;
    margin: 0 15px;
}

.header-content i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: white;
}

.header-content .notify {
    margin-right: 20px;
    font-size: 1rem;
}

.header-content a {
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
    margin: 0 10px;
    text-transform: uppercase;
}
