* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* loader */
.spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.377);
}

.add-form-btn {
    width: 250px !important;
    margin-top: 27.5px !important;
    margin-left: 74px !important;
}

.apply-form-btn {
    width: 250px !important;
    margin-top: 30px !important;
    margin-left: 150px !important;
}

.card-doctorlist-patient {
    width: 30%;
}

.ipfs-upload-button {
    width: 100px;
    height: 30px;
    margin: 2px;
    border-radius: 5px;
    background-color: #4d4dff;
    color: white;
    border: none;
}

.active .ipfs-upload-button {
    background-color: blue;
    color: white;
}

.record-upload-div {
    height: 60%;
    width: 100%;
}

.record-upload-form {
    border: 1px dotted black;
    border-radius: 5px;
    margin: 5px 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
